$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #FFFFFF;
$text-color                 : #4A4A4A;
$background-color           : #EEEEEE;
$text-muted-color           : #999999;

$item-01-color              : #686EE0;
$item-02-a-color            : #DE4422;
$item-02-b-color            : #F9AF3F;
$item-03-color              : #8BC63F;

$custom-google-font         : 'Open Sans', sans-serif;
$item-border-radius         : 20px;

$list-item-height           : 36px;
$button-height              : 44px;

$pricing-circle             : 140px;
$pricing-circle-boxshadow   : 10px;